@charset "utf-8";
/**
 * common
 *
 * author: Storm
 * date: 2017/08/06
 */

body {
  font: 14px/1.5 "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #666;
  transition: all .3s ease;

  &:hover {
    color: #fd802c;
  }
}
$placeholder: #ccc;

.s-placeholder {
  color: $placeholder;
}
::-webkit-input-placeholder {
  color: $placeholder;
}
:-moz-placeholder {
  color: $placeholder;
}
:-ms-input-placeholder {
  color: $placeholder;
}
