@charset "utf-8";
/**
 * common
 *
 * author: Storm
 * date: 2017/08/06
 */

@import "./variable";

body {
  font: 14px/1.5 "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #495060;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: $primary;
  transition: all .3s ease;

  &:hover {
    color: $primaryLight;
  }
}