@charset "utf-8";
/**
 * placeholder
 *
 * @author: Storm
 * @date: 2017/12/21
 */

@import "./variable.scss";

.s-placeholder {
  color: $lightGrey;
}
::-webkit-input-placeholder {
  color: $lightGrey;
}
:-moz-placeholder {
  color: $lightGrey;
}
:-ms-input-placeholder {
  color: $lightGrey;
}
