@charset "utf-8";
/**
 * text
 *
 * author: Storm
 * date: 2017/09/19
 */

@import "./variable";

.text {

  &-bold {
    font-weight: bold;
  }

  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-wrap {
    @include text-wrap;
  }

  &--ellipsis {
    @include text-ellipsis;
  }
}

