@charset "utf-8";
/**
 * variable
 *
 * @author: Storm
 * @date: 2017/12/21
 */

$default: #1f2d3d;
$primary: #20a0ff;
$primaryLight: #4db3ff;
$success: #13ce66;
$successLight: #42d885;
$warning: #f7ba2a;
$warningLight: #f9c855;
$danger: #ff4949;
$dangerLight: #ff6d6d;
$info: #50bfff;
$infoLight: #73ccff;
$white: #fff;
$black: #000;

$lg: 18px;
$md: 14px;
$sm: 12px;
$xs: 10px;
