@charset "utf-8";
/**
 * variable
 *
 * @author: Storm
 * @date: 2017/12/21
 */

/* 颜色 */
$default: #1f2d3d;
$primary: #20a0ff;
$primaryLight: #4db3ff;
$success: #13ce66;
$successLight: #42d885;
$warning: #f7ba2a;
$warningLight: #f9c855;
$danger: #ff4949;
$dangerLight: #ff6d6d;
$info: #50bfff;
$infoLight: #73ccff;
$white: #fff;
$black: #000;
$lightGrey: #bfcbd9;
$blackLight: #e4e7ed;

/* 大小 */
$lg: 16px;
$md: 14px;
$sm: 12px;
$xs: 10px;

/* 绝对定位 */
@mixin absolute-center {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

/* 垂直水平居中 */
@mixin hv-center-transform {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* 三角形 */
@mixin triangle {
  width: 0;
  height: 0;
}

/* 三角形 - top */
@mixin triangle-top($color, $bw, $rw, $lw) {
  @include triangle;
  border-top: none;
  border-bottom: $bw solid $color;
  border-left: $lw solid transparent;
  border-right: $rw solid transparent;
}

/* 三角形 - bottom */
@mixin triangle-bottom($color, $tw, $rw, $lw) {
  @include triangle;
  border-bottom: none;
  border-top: $tw solid $color;
  border-left: $lw solid transparent;
  border-right: $rw solid transparent;
}

/* 三角形 - left */
@mixin triangle-left($color, $rw, $tw, $bw) {
  @include triangle;
  border-left: none;
  border-right: $rw solid $color;
  border-top: $tw solid transparent;
  border-bottom: $bw solid transparent;
}

/* 三角形 - right */
@mixin triangle-right($color, $lw, $tw, $bw) {
  @include triangle;
  border-right: none;
  border-left: $lw solid $color;
  border-top: $tw solid transparent;
  border-bottom: $bw solid transparent;
}


/* 文本换行调整 */
@mixin text-wrap {
  word-break: break-all;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* 文本隐藏省略 */
@mixin text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* 多行省略 */
@mixin multi-text-ellipsis ($line) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}